body {
    background-color: darkgrey;
}

.contain-modalCreate {
    background-color: rgba(0, 0, 0, 0.54);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.form {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: aquamarine;
}

input, option, select {
    border: 1px;
    box-shadow: 0 0 20px 0px black;
}

input:focus, select:focus {
    outline: none;
}

form .submit {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

.show-modal {
    display: flex;
}

#formErrors {
    position: absolute;
    bottom: 35px;
}